@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron bg-transparent">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">This is the best site to find tickets for your favorite movie!</p>
        <hr class="my-4">
        <p>Click on the button "Tickets" to chose a ticket.</p>
    </div>
</div>
